body,h1,button{margin:0; padding:0;}
img{display:block; width:100%; height:auto;}
#wrap{height:100vh; position:relative;}
#wrap>h1{padding:12px 0; text-align:center; font-size:20px; }
.playground{margin-bottom:20px;}
.playground>.piece_boards{
    margin-top:24px; display:flex; justify-content:center; gap:20px
}
.playground>.piece_boards>.result{
    height:80px; width:150px;  border:2px solid #900;
}
.playground>.piece_boards>.players{
    height:80px; border:2px solid #009; width:150px; 
}
.playground>.piece_boards>.players>div{
    height:40px; box-sizing:border-box;
}
.playground>.piece_boards>.players>.blue{
    border-bottom:1px solid #009;
}
.playground>.piece_boards>.players>div>span{
    display:inline-block; width:30px; height:30px; margin:5px; border-radius:50%;
    text-align:center; line-height:30px; font-weight:bold; color:#fff;
    box-shadow:0 3px 6px rgba(0,0,0,0.3); cursor:pointer; /* -> pc */
}
.playground>.piece_boards>.players>.blue>span{background:#46c;}
.playground>.piece_boards>.players>.red>span{background:#c43;}
.ui-draggable-dragging{
    transform:scale(1.4); box-shadow:0 5px 15px rgba(0,0,0,0.5); z-index:100 !important; 
}
.randombox{
    position:fixed; left:0; top:0; width:100%; height:100vh; background:rgba(0,0,0,0.5);
    display:flex; justify-content:center; align-items:center;  display:none; z-index:1000000;
    /* 팝업, 갤러리 이렇게 많이 사용함 */
}
.randombox>img{
    display:block; width:70%; justify-content:center; align-items:center;
}
.control>.info{
    font-size:24px; font-weight:bold; margin-bottom:14px; border-radius:10px;
    background:#eff; color:#46e; text-align:center; padding:6px 0;
}
.control>button{
    display:block; margin-bottom:20px; padding:10px 40px; font-size:18px; font-weight:bold;
    border:0 none; border-radius:10px; background:#4caf50; color:#fff;
    box-shadow:0 4px 8px rgba(0,0,0,0.2); width:100%; box-sizing:border-box;
}
.control>.resetbtn{background:#eb6c14; }
.control>.btn:active{background:#45a049;}

